:root{
	--primary-color				: #FFFFFF;
	--secondary-color			: #FFFFFF0F;
	--bg-color					: #000000;
	--text-color				: #D6D6D8;
	--accent-color				: #d79e05;
	--white-color				: #FFFFFF;
	--divider-color				: #FFFFFF1A;
	--error-color				: rgb(230, 87, 87);
	--default-font				: "DM Sans", sans-serif;
	--accent-font				: "Epilogue", sans-serif;
}

.gold {
    color: var(--accent-color);
}

.satisfy-client-image > figure > img {
    border-radius: 100%;
}

.satisfy-client-images {
    row-gap: 16px !important;
}

.hero-info-box {
	padding-bottom: 50px;
}